

<div class="mb-5">
        <h1>Test</h1>
        <div class="first-carousel">
                <img src="https://picsum.photos/1024/230/?random">
                <!-- <ul *ngFor="let img of data">
                  <li>{{img.id}}</li>
                  <li><img src={{img.imgBig}} /></li>
                </ul> -->
            </div>

            <!-- This is to show dynamic image using service -->

                  <!-- <div class="col-md-12 py-3">
                    <ngb-carousel *ngIf="data">
                      <ng-template ngbSlide *ngFor="let img of data">
                        <img [src]="img.imgBig" >
                        <div class="carousel-caption">
                          <p [innerText]="img.id"></p>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div> -->

</div>